<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>05_EL_JSTL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextParam</param-name>
    <param-value>1234-4321</param-value>
  </context-param>
  
  
  <servlet>
  	<servlet-name>paramTest</servlet-name>
  	<servlet-class>action.el.controller.ELObjectServlet</servlet-class>
  	<init-param>
  		<param-name>initParam</param-name>
  		<param-value>blacklucky21@naver.com</param-value>
  		
  		<!-- context-param , init-param의 차이 : context-param은 모든 servlet에서 사용가능하게함 static같은 존재...
  		
  		init-param => 특정  servlet내에서만 사용가능
  		
  		
  		 -->
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>paramTest</servlet-name>
  	<url-pattern>/ELObject.do</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>